<section class="panel">
  <h2>Mes certificats</h2>
  <div class="certificate-list">
    <div class="certificate-item">
      <div>
        <h3>Angular avec style</h3>
        <p>Valide le 12 May 2026</p>
      </div>
      <button class="secondary" routerLink="/certificats/angular-style">Ouvrir</button>
    </div>
    <div class="certificate-item">
      <div>
        <h3>Marketing doux</h3>
        <p>Valide le 05 May 2026</p>
      </div>
      <button class="secondary" routerLink="/certificats/marketing-doux">Ouvrir</button>
    </div>
  </div>
</section>
