<section class="panel">
  <h2>Mes progres</h2>
  <div class="progress-list">
    <div class="progress-item">
      <div>
        <h3>Angular avec style</h3>
        <p>Progression 64%</p>
      </div>
      <div class="bar"><span style="width: 64%"></span></div>
    </div>
    <div class="progress-item">
      <div>
        <h3>JavaScript pour debuter</h3>
        <p>Progression 42%</p>
      </div>
      <div class="bar"><span style="width: 42%"></span></div>
    </div>
    <div class="progress-item">
      <div>
        <h3>CSS mignon et fluide</h3>
        <p>Progression 30%</p>
      </div>
      <div class="bar"><span style="width: 30%"></span></div>
    </div>
  </div>
</section>
