<section class="panel">
  <h2>Mes quiz</h2>
  <div class="quiz-list">
    <div class="quiz-item">
      <div>
        <h3>Quiz • Angular fondations</h3>
        <p>Score: 80%</p>
      </div>
      <button class="ghost" routerLink="/quiz/angular-style-1/resultat">Voir resultat</button>
    </div>
    <div class="quiz-item">
      <div>
        <h3>Quiz • CSS layout</h3>
        <p>Score: 70%</p>
      </div>
      <button class="ghost" routerLink="/quiz/css-6/resultat">Voir resultat</button>
    </div>
  </div>
</section>
